tmp/
routes/
test-results/
revel/revel
src/golang.org
src/gopkg.in
src/github.com/agtorre
src/github.com/revel
src/github.com/robfig
src/github.com/jinzhu
src/github.com/lib
src/github.com/qor
src/github.com/codegangsta/
src/github.com/heroku/
src/github.com/russross/
src/github.com/shurcooL/
pkg/
bin/

# editor
*.swp
